.vscode/**
.vscode-test/**
src/**
test/**
coverage/**
out/**
.nyc_output/**
tsconfig.json
.eslintrc.json
.gitignore
.lintstagedrc.json
.mocharc.json
.nycrc
.husky/**
.github/**
node_modules
eslint.config.mjs
tsconfig.test.json
**/*.ts
**/*.map
!dist/**
